# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

t1=(4,8,15,16,23,42)
ser=pd.Series(t1)

print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
import pandas as pd

l1=(4,8,33,3.5,42,'messi',99,'pedri',3+4j,False)
ser1=pd.Series(l1)

print(ser1)

0         4
1         8
2        33
3       3.5
4        42
5     messi
6        99
7     pedri
8    (3+4j)
9     False
dtype: object

# Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [5]:
import pandas as pd

data={"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}
                                                    
df=pd.DataFrame(data) 
                                                           
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [12]:
'''One of the main differences between DataFrame and Series is that a DataFrame can have multiple columns, while a Series can only have one.
This means that a DataFrame can store more complex and heterogeneous data, while a Series can store more simple and homogeneous data'''

import pandas as pd

data={"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}
                                                    
df=pd.DataFrame(data) 
                                                           
print(df)    
print("This is example of data frame")

print("-------------------------------------------------------------------------------------------------------------------")

import pandas as pd

l1=(4,8,33,3.5,42,'messi',99,'pedri',3+4j,False)
ser1=pd.Series(l1)

print(ser1)

print("This is example of data series")


print("as u can see above in data frame there are multply colums and in series there is just a single colums")

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
This is example of data frame
-------------------------------------------------------------------------------------------------------------------
0         4
1         8
2        33
3       3.5
4        42
5     messi
6        99
7     pedri
8    (3+4j)
9     False
dtype: object
This is example of data series
as u can see above in data frame there are multply colums and in series there is just a single colums

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?

In [18]:
'''Here are some of the most common Pandas data manipulation tasks: Data selection: Pandas provides a variety of functions for selecting data,
such as read ,head(), tail(), iloc(), and loc().These functions allow you to select specific rows, columns, or subsets of data from a DataFrame.'''
print ("examples are ")

import pandas as pd 

df3=pd.read_csv("la liga table 2023-24.csv")

print(df3)

print("-------------------------------------------------------------------------------------------------------------------")

print(df3.head())

print("-------------------------------------------------------------------------------------------------------------------")

print(df3.tail())
print("-------------------------------------------------------------------------------------------------------------------")
print("this is example data frame function")

examples are
     #             Team  Pl   W   D   L   F   A  GD  Pts  Last 6
0    1      Real Madrid  29  22   6   1  64  20  44   72     NaN
1    2        Barcelona  29  19   7   3  60  34  26   64     NaN
2    3           Girona  29  19   5   5  59  34  25   62     NaN
3    4  Athletic Bilbao  29  16   8   5  50  26  24   56     NaN
4    5  Atletico Madrid  29  17   4   8  54  34  20   55     NaN
5    6    Real Sociedad  29  12  10   7  42  31  11   46     NaN
6    7       Real Betis  29  10  12   7  34  33   1   42     NaN
7    8         Valencia  28  11   7  10  32  32   0   40     NaN
8    9       Villarreal  29  10   8  11  47  51  -4   38     NaN
9   10           Getafe  29   9  11   9  37  42  -5   38     NaN
10  11       Las Palmas  29  10   7  12  29  32  -3   37     NaN
11  12          Osasuna  29  10   6  13  33  43 -10   36     NaN
12  13           Alaves  29   8   8  13  26  35  -9   32     NaN
13  14    Real Mallorca  29   6  12  11  25  35 -10   30     NaN
14  15   Rayo Vallecano  29   6  11  12  25  38 -13   29     NaN
15  16          Sevilla  29   6  10  13  36  44  -8   28     NaN
16  17       Celta Vigo  29   6   9  14  32  44 -12   27     NaN
17  18            Cadiz  29   3  13  13  20  40 -20   22     NaN
18  19          Granada  28   2   8  18  30  58 -28   14     NaN
19  20          Almeria  29   1  10  18  28  57 -29   13     NaN
-------------------------------------------------------------------------------------------------------------------
   #             Team  Pl   W  D  L   F   A  GD  Pts  Last 6
0  1      Real Madrid  29  22  6  1  64  20  44   72     NaN
1  2        Barcelona  29  19  7  3  60  34  26   64     NaN
2  3           Girona  29  19  5  5  59  34  25   62     NaN
3  4  Athletic Bilbao  29  16  8  5  50  26  24   56     NaN
4  5  Atletico Madrid  29  17  4  8  54  34  20   55     NaN
-------------------------------------------------------------------------------------------------------------------
     #        Team  Pl  W   D   L   F   A  GD  Pts  Last 6
15  16     Sevilla  29  6  10  13  36  44  -8   28     NaN
16  17  Celta Vigo  29  6   9  14  32  44 -12   27     NaN
17  18       Cadiz  29  3  13  13  20  40 -20   22     NaN
18  19     Granada  28  2   8  18  30  58 -28   14     NaN
19  20     Almeria  29  1  10  18  28  57 -29   13     NaN
-------------------------------------------------------------------------------------------------------------------
this is example data frame function

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
'''A Series, by contrast, is only value-mutable, not size-mutable. The length of a Series cannot be changed although the values can be changed'''


'''Pandas DataFrame is mutable! Python Pandas package provides a fast and flexible relational data analysis module. The module`s concept is to
create practical data analysis from labelled data correlated to an index. The DataFrame is therefore mutable; data can be added, updated or deleted'''


''' A panel is value mutable'''

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [20]:
'''You can create a DataFrame from multiple Series objects by adding each series as a columns.

By using concat() method you can merge multiple series together into DataFrame. This takes several params, for our scenario we use list that
takes series to combine and axis=1 to specify merge series as columns instead of rows. Note that using axis=0 appends series to rows
instead of columns.'''

print("Example")

import pandas as pd

courses = pd.Series(["python","java","C++"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])


df=pd.concat([courses,fees,discount],axis=1)
print("Create pandas Series:\n",df)

print("-------------------------------------------------------------------------------------------------------------------")

print ("This is an Example of data frame from multiple series")

Example
Create pandas Series:
         0      1     2
0  python  22000  1000
1    java  25000  2300
2     C++  23000  1000
-------------------------------------------------------------------------------------------------------------------
This is an Example of data frame from multiple series